@import 'materialize';

// TEXT
.white-text {
	color: #FFFFFF;
}

.orange-text {
	color: #FF5108;
}

.red-text {
	color: #FF2321;
}

.black-text {
	color: #000000;
}

.yellow-text {
	color: #F7FF3F;
}

// BACKGROUNDS
.white-background {
	background-color: #FFFFFF;
}

.orange-background {
	background-color: #FF5108;
}

.red-red-background {
	background-color: #FF2321;
}

.black-background {
	background-color: #000000;
}

.yellow-background {
	background-color: #F7FF3F;
}

// NAVBAR
// Navbar Style
#nav-text a {
	color: #000000;
}

// HOMEPAGE
// Image on homepage
.parallax {
	position: absolute;
	left: 10%;
	bottom: 0;
	min-width: 100%;
	min-height: 250px;
}

// Icons on homepage
.material-icons {
	font-size: 50px;
}

//DASHBOARD
.dashboard-rep-photo {
	width: 150px;
}

.rep-info-table td {
	padding: 0px;
}

th {
	border-bottom: 1px #000000 solid;
}

.rep-schedule-table {
	width: 100%;

	td, th {
		padding: 5px;
	}
	tr:nth-child(even) {
	  background-color: #F7F7F7;
	}
}



// FOOTER
.site-footer {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
