<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>MyReps</title>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/app/assets/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/app/assets/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container" id="nav-text">
      <a id="logo-container" href="/" class="brand-logo">MyReps</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<%= yield %>

<footer class="site-footer red-background">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Developer Bio</h5>
        <p class="grey-text text-lighten-4">Beth Sebian is a political junkie turned developer. While holding political officials accountable is important, Beth's main motivation in creating this site is to position individuals to work with elected officials to address community issues.</p>


      </div>
      <div class="col l3 s12">
        &nbsp
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="mailto:beth@example.com?Subject=MyReps">Email</a></li>
          <li><a class="white-text" href="https://github.com/bethsebian">GitHub</a></li>
          <li><a class="white-text" href="https://twitter.com/bethsebian">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/js/materialize.js"></script>
<script src="javascripts/js/init.js"></script>

</body>
</html>